<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <main>
        <form id="cadastroForm">
            <label>Nome: </label>
            <input type="text" id="nome"><br>
            <label>Senha: </label>
            <input type="password" id="senha">
            <label>Repita a senha: </label>
            <input type="password" id="senhaRepetida">
            <input type="submit" value="Cadastrar">
        </form>
    </main>

    <script>
        $(document).ready(function() {
            $("#cadastroForm").submit(function(event) {
                event.preventDefault();

                var nome = $("#nome").val();
                var senha = $("#senha").val();
                var senhaRepetida = $("#senhaRepetida").val();

                var usuario = {
                    nome: nome,
                    senha: senha,
                    senhaRepetida: senhaRepetida
                };

                $.ajax({
                    type: "POST",
                    url: "/cadastro",
                    data: JSON.stringify(usuario),
                    contentType: "application/json",
                    success: function(data) {
                        console.log(data);
						alert("Usuario Cadastrado com Sucesso!"
						+"\nID: " + data.id + "\nNome: " + data.nome);
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            });
        });
    </script>
</body>
</html>