<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Página principal do sistema</title>
</head>
<body>
	<nav>
		<div>
			<a th:href="@{/index}">Menu</a>
		<!-- 
			TODO: /cardapio mapeado
			listar os produtos: [GET] /itens-cardapio
			buscar produtos: 	[GET] /itens-cardapio/{id}
			cadastrar produtos: [POST] /itens-cardapio
		-->
		</div>
	</nav>
	<main>
		<section id="containerCardapio">
			
		</section>
		<section id="AddItemCardapio">
			<div>
				<label>Nome: </label>
				<input type="text" id="inputNome">
			</div>
			<div>
				<label>Preço: </label>
				<input type="text" id="inputPreco">
			</div>
			<div>
				<label>ingredientes: </label>
				<input type="text" id="inputIngredientes">
			</div>
			<button id="buttonAdd">
				adicionar item ao cardápio
			</button>
		</section>
	</main>
</body>
</html>