<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Página principal do sistema</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<nav>
		<div>
			<a th:href="@{/cardapio}">Cardapio</a>
		</div>
		<div>
			<a th:href="@{/pedidos}">pedidos</a>
		</div>
	</nav>
	<main>
		<section id="containerCriarPedido">
			<div id="nomeCliente">
				<label>Nome do cliente: </label>
				<input type="text">
			</div>
			<select id="selecEntregar">
				<option value="true">Sim</option>
				<option value="false">Não</option>
			</select>
			<div id="entregar">
				<label>Endereço: </label>
				<input type="text">
			</div>
			<div>
			<!-- Componente que listara os itens do cardapio
				<input type="checkbox" id="itemCardapio${itemCardapio.id}">	
			-->
			</div>
		</section>
		<section id="containerPedidos">
		<!-- Componente que lista todos os pedidos prontos -->
			<div class="pedido">
				<div th:text="">
					<!--Cliente: ${pedido.cliente}-->
				</div>
				<div>
					<!--Para entrega: ${pedido.entregar}-->
				</div>
				<div>
					<!-- Endereco: ${pedido.endereco} -->
				</div>
				<div>
					<!-- Status: ${pedido.status} -->
				</div>
				<button>
				<!-- @onclick="deletePedido(${pedido.id})"-->
					Excluir pedido
				</button>
			</div>
		</section>
	</main>
</body>
<script src="../static/js/index.js"></script>
</html>