<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Página principal do sistema</title>
	<link rel="stylesheet" th:href="@{css/style.css}">
	<link rel="stylesheet" th:href="@{css/themes/theme1.css}">
	<!--TODO eu tinha deixado apenas 'href', mas mesmo com o 'th:herf', os arquivos do /resouces não foram carregados-->
</head>
<body>
	<nav>
		<div id="goToCardapio">
			<a th:href="@{/cardapio}">cardápio</a>
		</div>
		<div id="goToPedidos">
			<a th:href="@{/pedidos}">pedidos</a>
		</div>
	</nav>
	<main>
		<section id="containerCriarPedido">
			<h2>Registrar pedidos</h2>
			<div id="nomeCliente">
				<label>Nome do cliente: </label>
				<input type="text">
			</div>
			<div id="entregar">
				<label>Entregar: </label>
				<select id="selecEntregar">
					<option value="true">Sim</option>
					<option value="false">Não</option>
				</select>
			</div>
				
			<div id="endereco">
				<label>Endereço: </label>
				<input type="text">
			</div>
			<div id="containerButtonAddPedido">
				<button id="buttonAddPedido">
				<!--TODO função js registrarPedido()-->
					Adicionar pedido
				</button>
			</div>
			<div id="cardapio">
			<!-- Componente que listara os itens do cardapio -->
				<button class="itemCardapio" 
					onclick="addItemPedido(1)">
					lorem ipsum
					<input type="checkbox" id="checkItemCardapio1">
				</button>
			</div>
			
		</section>
		<section id="containerPedidosProntos">
		<!-- Componente que lista todos os pedidos prontos -->
		<!--TODO criar função js listar listarPedidosProntos() -->
			<h2>Pedidos Prontos</h2>
			<div class="pedido">
				<div th:text="">
					Joao
					<!--Cliente: ${pedido.cliente}-->
				</div>
				<div>
					Entregar
					<!--Para entrega: ${pedido.entregar}-->
				</div>
				<div>
					Rua Tal, 23
					<!-- Endereco: ${pedido.endereco} -->
				</div>
				<div>
					R$ 13,00
					<!-- Valor: ${pedido.valor} -->
				</div>
				<button>
				<!--TODO criar função js deletePedido(${pedido.id}) -->
					Excluir pedido
				</button>
			</div>
		</section>
	</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{js/index.js}"></script>
</html>